@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../public//assets/fonts/Poppins-Regular.ttf");
}

*{
  font-family: 'Poppins';
}
body {
  background: linear-gradient(45deg, #C9D6FF, #E2E2E2);
}
